<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="cacheEnabled" value="true"/><!-- 全局映射器启用缓存 -->
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.fish.idle.service.modules.sys.entity.Menu" alias="Menu"/>
        <typeAlias type="com.fish.idle.service.modules.sys.entity.Button" alias="Button"/>
        <typeAlias type="com.fish.idle.service.modules.sys.entity.User" alias="User"/>
        <typeAlias type="com.fish.idle.service.modules.sys.entity.AppUser" alias="AppUser"/>
        <typeAlias type="com.fish.idle.service.modules.jsdd.entity.City" alias="City"/>
        <typeAlias type="com.fish.idle.service.modules.jsdd.entity.Province" alias="Province"/>
        <typeAlias type="com.fish.idle.service.modules.jsdd.entity.Area" alias="Area"/>
        <typeAlias type="com.fish.idle.service.modules.jsdd.entity.WorksLevel" alias="WorksLevel"/>
        <typeAlias type="com.fish.idle.service.modules.jsdd.entity.Consumer" alias="Consumer"/>
        <typeAlias type="com.fish.idle.service.modules.jsdd.entity.Works" alias="Works"/>
        <typeAlias type="com.fish.idle.service.modules.jsdd.entity.TransferHistory" alias="TransferHistory"/>
        <typeAlias type="com.fish.idle.service.modules.jsdd.entity.FollowHistory" alias="FollowHistory"/>
        <typeAlias type="com.fish.idle.service.modules.jsdd.entity.Interpretation" alias="Interpretation"/>
        <typeAlias type="com.fish.idle.service.modules.jsdd.entity.Images" alias="Images"/>
    </typeAliases>
    <!-- 映射map -->
    <mappers>
        <package name="com.fish.idle.service.**.mapper"/>
    </mappers>

</configuration>