<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.go.common.modules.go.mapper.CompanyMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, `name`, legal_person AS legalPerson, tel, fax, website, address, postal_code AS postalCode, contact_name AS contactName, contact_tel AS contactTel, logo, create_date AS createDate, create_user AS createUser, modify_date AS modifyDate, modify_user AS modifyUser, `status`
	</sql>

</mapper>