<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.go.common.modules.go.mapper.EnquiryMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, title, supplier, quote_date AS quoteDate, quote_totle_price AS quoteTotlePrice, other_price AS otherPrice, discount, payment, invoice_type AS invoiceType, private_shipyard_id AS privateShipyardId, private_shipyard_name AS privateShipyardName, repair_spec_id AS repairSpecId, create_date AS createDate, create_by AS createBy, update_date AS updateDate, update_by AS updateBy, del_flag AS delFlag, file_name AS fileName
	</sql>
    <select id="selectByShipyardIdAndRepairSpecId"
            resultType="com.ctoangels.go.common.modules.go.entity.Enquiry">
		select * FROM t_enquiry where private_shipyard_id=#{0} and repair_spec_id=#{1}
	</select>

</mapper>