<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.go.common.modules.go.mapper.MemoMediaMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, report_detail_memo_id AS reportDetailMemoId, `type`, filename, record_time AS recordTime, oss, s3
	</sql>

</mapper>