<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.go.common.modules.go.mapper.MemoMediaMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		id, report_detail_id AS reportDetailId, `type`, filename, record_time AS recordTime, oss, s3
	</sql>
    <delete id="deleteByReportDetailId">
		delete from t_memo_media where report_detail_id=#{0}
	</delete>

    <select id="getByReportDetailIdAndType" parameterType="java.util.Map">
		SELECT m.* from t_memo_media m
		 WHERE m.report_detail_id=#{report_detail_id} and m.type=#{type}
	</select>

</mapper>