<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.go.common.modules.go.mapper.ParamMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		id, item_code AS itemCode, param_code AS paramCode, `name`, unit, `type`, create_by AS createBy, create_date AS createDate, update_by AS updateBy, update_date AS updateDate, del_flag AS delFlag
	</sql>

    <select id="byItemCodeContainParamValue" resultMap="ParamMap">
		SELECT p.* from t_param p
		WHERE p.item_code=#{0} and del_flag=0
	</select>

    <resultMap id="ParamMap" type="Param">
        <result property="id" column="id"></result>
        <result property="paramCode" column="param_code"></result>
        <collection property="paramValueVariableList" column="param_code" ofType="ParamValueVariable"
                    select="com.ctoangels.go.common.modules.go.mapper.ParamValueVariableMapper.ByParamCode"/>
    </resultMap>

</mapper>