<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.go.common.modules.go.mapper.ReportDetailStatusMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, task_status AS taskStatus, report_detail_id AS reportDetailId, repair_prog_detail_id AS repairProgDetailId, create_by AS createBy, create_date AS createDate, update_by AS updateBy, update_date AS updateDate, del_flag AS delFlag
	</sql>

</mapper>