<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.go.common.modules.go.mapper.ReportDetailMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		id, out_source AS outSource, repair_prog_id AS repairProgId, repair_prog_detail_id AS repairProgDetailId, report_id AS reportId, create_by AS createBy, create_date AS createDate, update_by AS updateBy, udpate_date AS udpateDate, del_flag AS delFlag, task_status AS taskStatus, submit_status AS submitStatus, memo
	</sql>


    <select id="getListByTaskId" resultMap="repairDetailMap">
        select d.* ,0 AS img,1 AS mp3,2 AS other from t_report_detail d where d.repair_prog_id= (select t.repair_prog_id from t_task t where
        t.id=#{0}) and d.submit_status=1
    </select>

    <select id="getListByReportId" resultMap="repairDetailMap">
        select d.*,0 AS img,1 AS mp3,2 AS other from t_report_detail d where d.report_id=#{0}
    </select>

    <resultMap id="repairDetailMap" type="ReportDetail">
        <result property="id" column="id"></result>
        <association property="repairProgDetail" column="repair_prog_detail_id"
                     javaType="RepairProgDetail"
                     select="com.ctoangels.go.common.modules.go.mapper.RepairProgDetailMapper.ById"></association>
        <collection property="imgList" column="{report_detail_id=id,type=img}" ofType="MemoMedia"
                    select="com.ctoangels.go.common.modules.go.mapper.MemoMediaMapper.getByReportDetailIdAndType"/>
        <collection property="mp3List" column="{report_detail_id=id,type=mp3}" ofType="MemoMedia"
                    select="com.ctoangels.go.common.modules.go.mapper.MemoMediaMapper.getByReportDetailIdAndType"/>
        <collection property="otherList" column="{report_detail_id=id,type=other}" ofType="MemoMedia"
                    select="com.ctoangels.go.common.modules.go.mapper.MemoMediaMapper.getByReportDetailIdAndType"/>
    </resultMap>

</mapper>