<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.go.common.modules.go.mapper.ReportMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		id, task_id AS taskId, company_id AS companyId, publish_time AS publishTime, repair_prog_detail_id AS repairProgDetailId, generate_time AS generateTime, is_publish AS isPublish, weather, temperature, humidity, memo, tomorrow_plan AS tomorrowPlan, crew_job AS crewJob, surveyor_status AS surveyorStatus, create_by AS createBy, create_date AS createDate, update_by AS updateBy, update_date AS updateDate, del_flag AS delFlag
	</sql>

</mapper>