<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.go.common.modules.go.mapper.ShipyardMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, company_id AS companyId, `name`, `desc`, short_name AS shortName, group_company AS groupCompany, country, area, `location`, address, longitude, latitude, tel, email, website, logo, create_date AS createDate, create_user AS createUser, modify_date AS modifyDate, modify_user AS modifyUser, `status`
	</sql>

</mapper>