<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.go.common.modules.go.mapper.WharfDetailMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, shipyard_id AS shipyardId, `type`, `name`, capacity, lift_capacity AS liftCapacity, lengh, width, protocol, cranes, remark
	</sql>

</mapper>