<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.idle.service.modules.jsdd.mapper.FollowHistoryMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		id, user_id AS userId, target_id AS targetId, `type`, create_date AS createDate, update_date AS updateDate, create_by AS createBy, update_by AS updateBy, del_flag AS delFlag
	</sql>

    <select id="browserPeopleList" resultMap="browserPeopleMap">
          SELECT fh.* FROM  dd_follow_history fh where fh.target_id=#{0} and fh.type=2 ORDER BY fh.update_date DESC
    </select>

    <resultMap id="browserPeopleMap" type="FollowHistory">
        <result property="id" column="id"></result>
        <result property="userId" column="user_id"></result>
        <association property="appUser" column="user_id"
                     select="com.fish.idle.service.modules.sys.mapper.AppUserMapper.ById"/>
    </resultMap>

</mapper>