<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.idle.service.modules.jsdd.mapper.WorksLevelMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, create_by AS createBy, create_date AS createDate, update_by AS updateBy, update_date AS updateDate, remarks, del_flag AS delFlag, works_id AS worksId, zhidi, zhidi2, ganguan, moshidu, xueliang, xuese, xuexing, nongyandu, jingdu, dise, liu, lie, inithanxueliang, hanxuemian, hanxueliang, hanxuefangshi
	</sql>

	
	<select id="getWorksLevelByGoodsId" parameterType="java.lang.Integer" resultType="WorksLevel">
		select * from dd_works_level WHERE works_id = #{id};
	</select>

</mapper>