<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.idle.service.modules.jsdd.mapper.WorksMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		id, create_by AS createBy, create_date AS createDate, update_by AS updateBy, update_date AS updateDate, remarks, del_flag AS delFlag, `no`, public_flag AS publicFlag, `name`, breed, `type`, `size`, gy_type AS gyType, level_zk AS levelZk, works_meaning AS worksMeanning, `status`, images, recommend, reason, kqdy, maker, make_time AS makeTime, slide, slide_till AS slideTill, browser_count AS browserCount, follow_count AS followCount, `value`, value_till AS valueTill, certified, working_status AS workingStatus
	</sql>

    <!--根据用户id查询转入或转出的作品-->
    <select id="transferWorksList" resultType="Works">
        SELECT DISTINCT w.*  from dd_works w
        join dd_transfer_history t on w.id=t.works_id
        where t.from_user_id=#{0} or t.to_user_id=#{0}
    </select>

    <!--根据用户id查询收藏的作品-->
    <select id="collectionWorksList" resultType="Works">
        SELECT w.* from dd_works w
        join dd_follow_history f on w.id=f.target_id and f.type=0
        where f.user_id=#{0}
    </select>

    <select id="selectById" resultType="Works">
        SELECT w.* FROM dd_works w WHERE  w.id=#{0}
    </select>


</mapper>